:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --active-button-color: #188cef;
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --footer-bcg-color: #2f303a;
  --section-team-bcg-color: #f5f4fa;
  --address-footer-color: rgba(255, 255, 255, 0.6);
  --primary-icon-color: #afb1b8;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--primary-text-color);
}
/* ------------УТИЛІТИ------------ */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* стилизация хедера */
.header-section {
  border-bottom: 1px solid #ececec;
}
.main-header {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--black-color);
}
.part {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  gap: 50px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}
.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-title-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--accent-color);
}

.nav-link.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.contacts-list {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  list-style: none;
}
.contacts-item {
  display: flex;
}
.contacts-link {
  align-items: center;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  text-decoration: none;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-envelope,
.icon-phone {
  fill: currentColor;
  margin-right: 10px;
}
.contacts-item.phone {
  margin-left: 30px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* стилизация футера */
.footer {
  background-color: var(--footer-bcg-color);
}
.footer.section {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
  color: var(--white-color);
}
.address {
  list-style: none;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link.map {
  color: var(--white-color);
}
.address-link {
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: var(--address-footer-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.container.wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.join-wrap {
  display: block;
}
.join-list {
  display: flex;
  gap: 10px;
}
.join-list-item {
  width: 44px;
  height: 44px;
}
.join-item {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join-item:hover,
.join-item:focus {
  background-color: var(--accent-color);
}
.join-text {
  /* padding-top: 12px; */
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.form-subscribe {
  width: 570px;
}
.subscribe-field {
  display: flex;
}

.text-subscribe {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe-input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  outline: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input:hover,
.subscribe-input:focus {
  border-color: var(--accent-color);
}
.subscribe-input:not(:placeholder-shown) {
  background-color: var(--white-color);
  color: var(--footer-bcg-color);
}

.button-subscribe {
  margin-left: 12px;
  min-width: 200px;
  padding: 10px 28px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  letter-spacing: 0.06em;
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-subscribe {
  margin-left: 10px;
  fill: currentColor;
}
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--active-button-color);
}

/* стилизация главной страницы */
/* section hero */
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpeg);
  background-color: var(--footer-bcg-color);
}

.hero-title {
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--active-button-color);
}

/* section preference */
.preference-list {
  display: flex;
  gap: 30px;
  list-style: none;
}
.preference-item {
  flex-basis: calc((100% - 90px) / 4);
}
.preference-item::before {
  margin-bottom: 30px;
  display: block;
  height: 120px;
  content: "";
  background-color: var(--section-team-bcg-color);
  background-position: center;
  background-repeat: no-repeat;
  block-size: contain;
}
.preference-item:nth-child(1)::before {
  background-image: url(../images/attention.svg);
}
.preference-item:nth-child(2)::before {
  background-image: url(../images/punctuality.svg);
}
.preference-item:nth-child(3)::before {
  background-image: url(../images/planning.svg);
}
.preference-item:nth-child(4)::before {
  background-image: url(../images/technology.svg);
}
.preference-title {
  margin-bottom: 10px;
  color: var(--primary-title-color);
  font-size: 14px;
  line-height: 1.14;
}
.preference-text {
  line-height: 1.71;
}
/* section work */
.work.section {
  padding-top: 0;
}
.work-title {
  margin-bottom: 50px;
  color: var(--primary-title-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
.work-item {
  flex-basis: calc((100% - 60px) / 3);
}
.position-name {
  position: relative;
}
.work-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
/* section team */
.team {
  background-color: var(--section-team-bcg-color);
}
.team-title {
  margin-bottom: 50px;
  color: var(--primary-title-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
.team-card {
  background-color: var(--white-color);
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card-bottom {
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
  text-align: center;
}
.team-name {
  margin-bottom: 10px;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-description {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}
.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social-list-item {
  width: 44px;
  height: 44px;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social {
  fill: var(--primary-icon-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:hover,
.social-item:focus {
  background-color: var(--accent-color);
}
.social-item:hover .icon-social,
.social-item:focus .icon-social {
  fill: var(--white-color);
}

/* section clients */
.clients-title {
  margin-bottom: 50px;
  color: var(--primary-title-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.clients-list {
  display: flex;
  gap: 30px;
  list-style: none;
}
.clients-item {
  height: 92px;
  flex-basis: calc((100% - 150px) / 6);
}
.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  color: var(--primary-icon-color);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  border: none;
  fill: currentColor;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* скрытый заголовок */
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* сторінка портфоліо */
.portfolio-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}
.portfolio-button {
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: none;
  background-color: var(--section-team-bcg-color);
  color: var(--primary-title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover .overlay-text,
.project-link:focus .overlay-text {
  transform: translateY(0);
}

.project-item {
  flex-basis: calc((100% - 60px) / 3);
}

.project-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-descr {
  padding: 20px 24px;
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
}
.project-title {
  margin-bottom: 4px;
  color: var(--primary-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-link .text {
  font-size: 16px;
  line-height: 1.88;
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear;
}

.modal {
  position: relative;
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1) scaleX(1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(-0.5) scaleX(0);
}
.modal-title {
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-title-color);
}

.modal-form {
  width: 100%;
}
.modal-item {
  display: block;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.modal-input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:hover ~ .modal-icone,
.modal-input:focus ~ .modal-icone {
  fill: var(--accent-color);
}
.modal-icone {
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: 12px;
  fill: var(--primary-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: var(--accent-color);
  margin-bottom: 20px;
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--accent-color);
}
.checkbox-label {
  line-height: 1.71;
}

.checkbox-label a {
  position: relative;
  display: inline-block;
  color: var(--accent-color);
}
.dash::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  color: var(--accent-color);
  position: absolute;
  bottom: 5px;
  left: 0;
}

.modal-check {
}

.modal-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  min-width: 200px;
  height: 50px;
  padding: 10px 52px;
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06;
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background: var(--active-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}
.close-icon {
  fill: var(--black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
